@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:global(body) {
  background-color: #000;
  color: #FFF;
  margin: 0;
  position: relative;
  font-family: 'Poppins';
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
  max-width: 1000px;
  width: 100%;
  padding: 40px;
}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(90px);
  background: radial-gradient(circle at center, #132736, transparent 45%),
    conic-gradient(from 45deg, #aa3994 52deg, #5b67a8 65deg, #5968a9 120deg 307deg, #6b5da4 353deg);
  background-color: #000;
  opacity: 0.25;
  animation: colorChange 25s ease;
  animation-iteration-count: infinite;

  @keyframes colorChange {
    0% {
      transform: scale(1, 1) rotate(0deg);
    }

    25% {
      transform: scale(2, 1) rotate(90deg);
    }

    75% {
      transform: scale(2, 2) rotate(-180deg);
    }

    100% {
      transform: scale(1, 1) rotate(0deg);
    }
  }
}