#project-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

#picture-with-members {
  position: relative;
}

#members {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
  bottom: 20px;
  align-items: center;
  column-gap: 10px;
}

.member {
  display: flex;
  column-gap: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, .0509803922);
  padding: 5px;
  border-radius: 25px;
  padding-right: 10px;
  border: 1px solid rgba(255, 255, 255, .0705882353);
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 18px;
  }

  span {
    font-size: 14px;
    align-items: center;
  }

}

#short-description {
  display: block;
  margin-top: 20px;
}

#description {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
  font-size: 12px;

  > span {
    flex: 1;
  }

  .criteria-description {
    opacity: 0.7;
  }

  b {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
  }
}