#github-insights-container {
  padding: 20px;
  border-radius: 25px;
  background: #ffffff1c;
  margin-top: 40px;
  backdrop-filter: blur(50px);
}

#title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}